body, html{
  	margin:0;
  	padding:0;
  	width: 100%;
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

div {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a {
    text-decoration: none;
    color: #2b2b2b;
}

.hidden {
  	display: none;
}

.left{
	text-align: left;
}

.right {
	text-align: right;
}

.section {
	padding-top: 16px;
	padding-bottom: 16px;
	width: 100%; 
	background-color: #2b2b2b;
	border-top: 20px solid #111111;
}

.sectionItemTitle {
	
}
.sectionItem {
	margin: 6px;
	padding: 10px;
	display: inline-block;
	background-color: white;

	-webkit-box-shadow: inset 2px 2px 8px -2px #2b2b2b;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    inset 2px 2px 8px -2px #2b2b2b;  /* Firefox 3.5 - 3.6 */
	box-shadow:         inset 2px 2px 8px -2px #2b2b2b;
}

.icon {
	margin-bottom: 10px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 8px -2px #2b2b2b;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    2px 2px 8px -2px #2b2b2b;  /* Firefox 3.5 - 3.6 */
	box-shadow:         2px 2px 8px -2px #2b2b2b;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #111111;
	text-align: center;
	color: #a1a1a1;
}

.scoresTable {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #1a1a1a;
}
