body, html{
  	margin:0;
  	width: 100%;
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	overflow: hidden;
    height: 100%;
}

body {
	padding-bottom: 80px;
	height: 100%;
	overflow: auto;
}

div {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.pressKit a {
    text-decoration: underline;
    color: #2a2a2a;
}

.hidden {
  	display: none;
}

.left{
	text-align: left;
}

.right {
	text-align: right;
}

.headerRule {
	background-color: #111111;
	height: 1px;
}

.section {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%; 
	background-color: #2b2b2b;
}

.sectionItemTitle {
	
}
.sectionItem {
	margin: 6px;
	padding: 10px;
	display: inline-block;
	background-color: #575757;

	-webkit-box-shadow: inset 2px 2px 8px -2px #2b2b2b;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    inset 2px 2px 8px -2px #2b2b2b;  /* Firefox 3.5 - 3.6 */
	box-shadow:         inset 2px 2px 8px -2px #2b2b2b;
}

.sectionItem:hover {
	background-color: #838383;
}

.icon {
	margin-bottom: 10px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 8px -2px #2b2b2b;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    2px 2px 8px -2px #2b2b2b;  /* Firefox 3.5 - 3.6 */
	box-shadow:         2px 2px 8px -2px #2b2b2b;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 16px;
	height: 19px;
	background-color: #111111;
	color: #575757;
}

#scores {
	margin-top: 50px;
}

.scoresTable {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #4f85bc;
	width: 90%;
	max-width: 500px;
	margin:auto;
	color: white;
	border-radius: 10px;
}

.scoresHeading {
	width: 100%;
	text-align: center;
	border-bottom: 2px solid #79B5F3;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.contactDescription {
	width: 50%;
	min-width: 250px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contactLinks {
	width: 50%;
	min-width: 250px;
	text-align: center;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.pressKit {
	width: 50%;
	min-width: 600px;
	margin: auto;
	color: #545454;
}

.presskit .title {
	font-size: 24pt;
	padding-bottom: 20px;
	color: white;
}

.pressKit .header {
	border-bottom: 1px solid #dadada;
	font-size: 16pt;
	color: #797979;
}

.pressKitSection {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 20px;

	-webkit-box-shadow: 2px 2px 12px -4px #2b2b2b;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    2px 2px 12px -4px #2b2b2b;  /* Firefox 3.5 - 3.6 */
	box-shadow:         2px 2px 12px -4px #2b2b2b;
}

.pressKit img {
	max-width: 128px;
	margin: 20px;
}

.pressKitHeaderImage {
	width: 116px;
	height: 116px;
	margin: 0 !important;
}

.carousel {
	height: calc(100% - 217px + 22px);
}

.slick-slide {
    outline: none
}

.slick-prev {
	left: 50px;
	z-index: 1;
}

.slick-next {
	right: 50px;
	z-index: 1;
}

.slick-dots {
	bottom: 25px;
}

.slick-prev:before {
	font-family: FontAwesome;
	content: '\f053';
	font-size: 40px;
}

.slick-next:before {
	font-family: FontAwesome;
	content: '\f054';
	font-size: 40px;
}
.slick-dots li button:before {
	font-family: FontAwesome;
	content: '\f111';
	font-size: 20px;
}

.socialLink {
	float: right;
	margin-right: 20px;
}

.carousel .section {
	box-shadow: inset  0  25px 25px -25px #000, 
				inset  0 -25px 25px -25px #000;
}

.carousel .putthole {
	background-image: url("../assets/main_putthole.png");
	background-size:cover;

}

.carousel .putthole a {
	display: block;
	height: 100%;
}

.carousel .putthole img {
	margin: auto;
	max-height: 100%;
	max-width: 75%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.carousel .gapcat {
	background-image: url("../assets/main_gapcat.png");
	background-size:cover;
	background-position: center; 
}

.carousel .gapcat a {
	display: block;
	height: 100%;
}

.carousel .gapcat img {
	margin: auto;
	max-height: 100%;
	max-width: 65%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@media only screen and (max-width: 1000px) {
	
}
